/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.top {
display: flex;
justify-content: space-between;
flex-direction: row;
margin: 50px 25px;	
}
.top a{
	margin: 0px 0px 0px 50px;
	color: grey;
	text-decoration: none;
}
.top img {
	display: flex;
	justify-content: flex-end;
	margin: 0 45px 0 75px;
}
.alpha {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 70px 75px;
	height: 300px;
}
.alpha h1{
	margin: 30px 0px;
	font-size: 35px;
}
.line{
	border: 1px solid black;
	margin: 60px 75px;
}
.beta{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	height: 700px;
	margin: 0px 55px;
	width: 1050px;
	}
.gamma {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	margin: 0px 55px;
	width: 1050px;
}
.box {
	border: 1px solid black;
	margin: 45px 20px 0px 20px;
	width: 525px;
	height: 300px;
}
.delta{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	margin: 0px 55px;
	width: 1050px;
}
.box2 {
	margin: 45px 20px 0px 20px;
	width: 525px;
	height: 500px;
}
.part1 p {
	margin: 50px 0;
	text-align: center;
}
.top1 {
margin: 50px 75px;	
}
.top1 a{
	margin: 0 35px;
	color: grey;
	text-decoration: none;
}
.logo1{
	margin-left: 90px;
}
.part1 {
box-sizing: border-box;
display: inline-block;
border: 1px solid blue;
height: 500px;
padding: 50px;
width: 49%;
}
.part1 h1{
	border: 1px solid orange;
	font-size: 100px;
	display: inline;
	margin: 100px 0;
}
.part1 p{
	text-align: center;
}
.part1 .button1{
	border: 1px solid black;
	width: 175px;
	height: 40px;
	padding: 7px;
	margin: 0 auto;
}
.part1 img{
	display: inline-block;
	width: 51%;
}

